*{
padding: 0;
margin: 0;
font-family: 'Roboto', sans-serif;

}
.banner{
    background-color: white;
    padding: 1rem;
    text-align: start;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}
.banner h2{
    width: 40%;
}
body{
    background-color: #f5f5f5;
}
.container{
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card{
    margin-top: 2rem;
}
.container, .card{
    width: 40%;
}

.card, img{
    width: 100%;
    background-color: white;
}
.title{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    font-size: 0.7rem;

}
.title :first-child{
    font-weight: bold;
}
.title :last-child{
    color: #898787;
}
.description, p{
    font-size: 0.6rem;
    color: #333;
    margin: 0.5rem;
}
.container :last-child{
    margin-bottom: 3rem;
}


